<h3>Turbo examples:</h3>

<div id="rooms">
  <ul>
  <% rooms.forEach((room) => { %>
      <li>
          <a href="/rooms/<%- room.id %>/">View <%- room.name %></a>
      </li>
  <% }) %>
  </ul>
</div>