<%- include('./templates/base-head') %>

<div class="flex items-center justify-center min-h-screen bg-gray-100 p-6">
  <div class="max-w-4xl mx-auto space-y-8">
    <h1 class="text-3xl font-bold">Node Hotwired App</h1>

    <h3>Stimulus examples:</h3>
    <div class="max-w-4xl mx-auto space-y-8">
        <div class="bg-white p-6 rounded-lg shadow">
            <ul class="space-y-2">
                <li>
                    <a href="/pages/stimulus/content_loader.html" class="text-blue-600 hover:underline">Content Loader</a>
                </li>
                <li>
                    <a href="/pages/stimulus/counter.html" class="text-blue-600 hover:underline">Counter</a>
                </li>
                <li>
                    <a href="/pages/stimulus/dropdown.html" class="text-blue-600 hover:underline">Dropdown</a>
                </li>
                <li>
                    <a href="/pages/stimulus/form.html" class="text-blue-600 hover:underline">Form</a>
                </li>
                <li>
                    <a href="/pages/stimulus/greeting.html" class="text-blue-600 hover:underline">Greeting</a>
                </li>
                <li>
                    <a href="/pages/stimulus/message.html" class="text-blue-600 hover:underline">Message</a>
                </li>
                <li>
                    <a href="/pages/stimulus/modal.html" class="text-blue-600 hover:underline">Modal</a>
                </li>
                <li>
                    <a href="/pages/stimulus/scroll_progress.html" class="text-blue-600 hover:underline">Scroll Progress</a>
                </li>
                <li>
                    <a href="/pages/stimulus/tabs.html" class="text-blue-600 hover:underline">Tabs</a>
                </li>
                <li>
                    <a href="/pages/stimulus/toggle.html" class="text-blue-600 hover:underline">Toggle</a>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>

<%- include('./rooms/index', { rooms: rooms }); %>
<div id="messages"></div>

<%- include('./templates/base-footer') %>